:root {
  --red: #cc0000;
  --icon-color: #606060;
}

/**
 *
 * Globals
 *
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: auto;
}