.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 8px 16px;
    display: inline-block;
    font-family: 'Roboto';
}

.top-nav input[type=text]{
    outline: none;
    font-size: 16px;
    line-height: 24px;
    padding-left: 4px;
}

.top-nav input[type=text]:focus {
    border: 2px solid blue;
}

.top-nav input[type=button] {
    /*  */
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.top-nav input[type=button]:hover {
    background-color: rgb(233, 232, 232);
    /* border: 2px solid; */
}

.top-nav img {
    width: 10%;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }